* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
  color: #333;
}

/* Header */
header {
  background-color: #0f0f0f;
  color: white;
  padding: 2px 5px;
  .logo img {
  height: 55px;
  width: auto;
}

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

nav h1 {
  font-size: 1.5rem;
 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #007BFF;
}

/* Hero */
#hero {
  text-align: center;
  padding: 2rem;
}

#hero img {
  width: 80%;
  max-width: 900px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

footer {
  background-color: #272727;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.titulo-home {
  font-size: 2rem;
  color: #222;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.subtitulo-home {
  font-size: 1.1rem;
  color: #555;
  text-align: center;
  margin-top: 0.5rem;
}

.productos {
  padding: 2rem;
  text-align: center;
}

.productos h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.grid {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border: none;
  background: #e60023;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #c0001b;
}

.about {
  background: #f8f8f8;
  padding: 2rem;
  text-align: center;
}

.about h2 {
  margin-bottom: 1rem;
}